<div class="tools-container">
  <div class="d-flex align-items-center gap-4">
    <mat-icon>wb_sunny</mat-icon>
    <mat-slider
      [min]="settings().minK"
      [max]="settings().maxK"
      [step]="settings().stepK"
      class="flex-grow-1"
      showTickMarks
    >
      <input matSliderThumb [field]="settingsForm.k" />
    </mat-slider>
    <mat-icon>ac_unit</mat-icon>
  </div>
  <div class="d-flex align-items-center gap-4">
    <mat-icon fontSet="material-icons-outlined">circle</mat-icon>
    <mat-slider
      [min]="settings().minFill"
      [max]="settings().maxFill"
      [step]="settings().stepFill"
      class="flex-grow-1"
      showTickMarks
    >
      <input matSliderThumb [field]="settingsForm.fill" />
    </mat-slider>
    <mat-icon>circle</mat-icon>
  </div>
  <div class="d-flex align-items-center gap-4">
    <mat-icon fontSet="material-icons-outlined">square</mat-icon>
    <mat-slider
      [min]="settings().minRadius"
      [max]="settings().maxRadius"
      [step]="settings().stepRadius"
      class="flex-grow-1"
      showTickMarks
    >
      <input matSliderThumb [field]="settingsForm.radius" />
    </mat-slider>
    <mat-icon fontSet="material-icons-outlined">circle</mat-icon>
  </div>
  <button matButton="filled" [disabled]="!settingsForm().dirty()" (click)="resetForm()">
    <mat-icon>replay</mat-icon>Reiniciar valores por defecto
  </button>
  <span class="d-flex align-items-center justify-content-center gap-1"
    ><small class="text-body-secondary">Hecho con amor para mi influencer favorita</small
    ><mat-icon class="text-danger">favorite</mat-icon></span
  >
</div>
