.page-container {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
}

.tools-bottom-sheet {
  .mat-bottom-sheet-container {
    padding: 40px 40px 30px;
  }
}

input[type="range"]{
  pointer-events:none;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events:all;
}
input[type="range"]::-moz-range-thumb {
  pointer-events:all;
}
input[type="range"]::-ms-thumb {
  pointer-events:all;
}
